<app-slider 
[elementos]="homeText"
[size]="'small'"
>
</app-slider>


<div class="center">
    <section id="content">
        <h2 class="subheader">Peliculas</h2>

        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">Pelicula favorita: {{favorita.title}}</h2>
        </div>


        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas.
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay suficientes peliculas.
        </div>


        <hr>

        <h2 class="subheader"></h2>
        <div id="articles" *ngIf="peliculas">

            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula
                    [pelicula] = "pelicula"
                    (MarcarFavorita) = "mostrarFavorita($event)"
                ></app-pelicula
                    >
            </div>
            <!--AÑADIR ARTICULOS VIA JS-->
        </div>
    </section>

    <app-sidebar></app-sidebar>
</div>